name: Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub 
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Get version from commit message
        id: get_version
        run: |
          VERSION=$(git log -1 --pretty=%B | grep -oE 'v[0-9]+\.[0-9]+\.[0-9]+')
          if [ -z "$VERSION" ]; then
            echo "âŒ No version found in commit message. Use 'Release: vX.Y.Z'"
            exit 1
          fi
          echo "TAG=$VERSION" >> $GITHUB_ENV

      - name: Build Docker image
        run: docker build -t chesar/nest-demo-k8s:$TAG .

      - name: Push Docker image
        run: docker push chesar/nest-demo-k8:$TAG